.header {
    // position: relative;
}

.header__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 17px;
    overflow: hidden;
}

.header__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 21px;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__icon {
    margin-right: 15px;
    width: 36px;
}

.link-info {
    font-size: 24px;
    font-weight: 700;
    transition: color .25s ease-in-out;

    &:hover {
        color: var(--color-red);
        transition: color .25s ease-in-out;

    }
}

.social {
    display: flex;
}

.header__social {
    margin-left: 30px;
}

.social__link {
    margin: 0 4px;
    transition: opacity .25s ease-in-out;

    &:hover {
        opacity: .8;
        transition: opacity .25s;
    }
}

.header__nav {
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #f4f4f4;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__item {
    margin-right: 160px;
    font-size: 18px;
    color: #1e1d1d;

    &:last-child {
        margin-right: 0;
    }

    a {
        transition: color .25s ease-in-out;

        &:hover {
            color: var(--color-red);
            transition: color .25s;
        }
    }
}

@media (max-width: 1200px) {
    .header__info {
        font-size: 16px;
    }

    .link-info {
        font-size: 18px;
    }

    .header__icon {
        margin-right: 7px;
    }

    .header__social {
        margin-left: 15px;
    }

}

@media (max-width: 992px) {

    .burger-menu {
        display: flex;
    }

    .header__container {
        flex-direction: column;
    }

    .header__info {
        justify-content: flex-start;
        margin-bottom: 14px;
    }

    .header-cont {
        margin-left: 70px;
        min-width: 280px;
    }

    .header__logo {
        margin-left: 70px;
        min-width: 280px;
        margin-bottom: 16px;
    }

    .header__nav {
        display: none;
        position: absolute;
        padding-top: 40px;
        padding-bottom: 30px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: 50;
        background-color: var(--color-dark);
    }

    .nav__container {
        height: 100%;
    }

    .nav__list {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav__item {
        margin-right: 0;
        margin-bottom: 30px;
        font-size: 32px;
        color: #fff;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .header__wrap {
        justify-content: center;
    }
}